Paulines CSS base style

header {
  background-color: black;
  color: white;
}

header nav ul li {
  list-style: none;
  display: inline; 
}


nav ul {
  text-align: center;
}


a:hover {
  background-color: white;
  text-decoration: none;
}


h1 {
  text-align: center;
  background-color: none;
}


h2 {
  color: black;
  background-color: lavender;
}



main, header {
  font-family: "Courier New", monospace;
  font-weight: normal;
}


body {
  margin: 0 auto;
  max-width: 800px;
}





